<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="salesforce.Listeners">
</listener>
</listeners>
  <test  name="class">
   <classes>
     <class name="testOption.textRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
